body{
    margin: 0%;
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(./imagens/backfront.png);
    background-size: cover;
    color: black;
 
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px;
    margin-top: 0%;
}
a{
    color: black;
    text-decoration: none;

}
header{
    background-image: url(./imagens/headerimg.png);
    background-size: cover;
    background-position: center;
    margin: 0%;
    padding: 1px;
    width: 100%;
    height: 100%;
    
}
hr{
    border: none;
    
    margin: 45px 0; /
}
main{
    background-color: rgba(219, 209, 209, 0.562);
    color: black;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
section{
    margin-bottom: 20px;
}
footer{
    background-color: rgba(255, 255, 255, 0.616);
    color: black;
    padding: 15px;
    text-align: center;
    width: 100%;
    bottom: 0px;
    position: fixed;
}