body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}
/*ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px;
    margin-top: 0%;
}
a{
    color: black;
    text-decoration: none;

}*/
 .cabeçalho{
    background-image: url(./imagens/headerimg.png);
    background-size: cover;
    background-position: center;
    margin: 0%;
    padding: 1px;
    width: 100%;
    height: 100%;
}

.informations {
   
    background-color: #857f7f!;
    margin: 0%;
    padding: 1px;
    width: 100%;
    height: 100%;
    text-align: center;
   
}
/*.informations h3 {
    margin-top: 0;  Remove margem superior do h3 
}

.informations p {
    margin-bottom: 0;  Remove margem inferior do p 
}*/
aside {
    background-color: #a39f9f;
    display: flex; /* Usar flexbox para alinhar verticalmente */
    
    height: 100%; /* Ocupar toda a altura do body */
    
}
hr{
    border: none;
    
    margin: 15px 0; /
}
main{
    background-color: rgba(219, 209, 209, 0.562);
    color: black;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
section{
    margin-bottom: 20px;
}
footer{
    background-color: white;
    color: black;
    padding: 15px;
    text-align: center;
    width: 100%;
    bottom: 0px;
    position: fixed;
}
nav ul {
    list-style-type: none; /* Remove os marcadores padrão da lista */
    padding: 0; /* Remove o preenchimento interno da lista */
}

nav ul li {
    margin-bottom: 10px; /* Espaçamento entre os itens da lista */
}

nav ul li a {
    text-decoration: none; /* Remove sublinhado dos links */
    color: #333; /* Cor do texto dos links */
    display: block; /* Faz os links ocuparem toda a largura disponível */
    padding: 10px; /* Espaçamento interno dos links */
    border: 1px solid #ccc; /* Adiciona uma borda aos links */
    border-radius: 5px; /* Adiciona cantos arredondados à borda */
}